@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

img {
  max-width: 100%;
  width: 100%;
}

* {
  padding: 0;
  margin: 0 auto;
}

body {
  max-width: 400px;
  background-color: #111;
  font-family: "Roboto slab", Arial, Helvetica, sans-serif;
}

main {
  background-color: white;
}

.threeweeks {
  color: rgb(71, 105, 192);
  padding-top: 24px;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

.paragraph {
  padding: 50px;
  font-size: 1.3em;
}

#bottom {
  background-color: royalblue;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.first {
  grid-column: 1/2;
  color: white;
}

.second {
  grid-column: ;
  color: white;
}

.three {
  grid-column: 3/5;
  color: white;
}

sup {
  font-size: 10px;
}
